.outline-none:active {
    outline: none;
    background-color: white;
}

.md-1 {
    margin-bottom: calc(var(--spacing) * 1)
}
.md-2 {
    margin-bottom: calc(var(--spacing) * 2)
}
.md-5 {
    margin-bottom: calc(var(--spacing) * 5)
}
.arial {
    font-family: Arial, Helvetica, sans-serif;
}